{% extends 'base.html' %}

{% block titulo %} Editar registro de baja de material {% endblock %}
{% block encabezado %} Materiales eliminados {% endblock %}

{% block contenido %}

<div class="fondo-borde-secundario">
    <div class="card seccion">
        <div class="card-header seccion-header">Editar registro de baja de material</div>
        <div class="card-body">
            <h4 class="card-title">Datos del material eliminado</h4>
            {% include 'bitacoraMateriales/form.html' %}
        </div>
    </div>
</div>

{% endblock %}