<div class="modal fade" id="modalEliminarMaterial{{ material.idmateriales }}" tabindex="-1"
     aria-labelledby="modalEliminarLabel{{ material.idmateriales }}" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-primario">

            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel{{ material.idmateriales }}">
                    Confirmar eliminación
                </h5>
                <button type="button" class="btn-close btnCerrar" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar el material 
                <strong>{{ material.nombre }}</strong>?
            </div>

            <div class="modal-footer">
                <button type="button" class="btnSecundario" data-bs-dismiss="modal">Cancelar</button>

                <a href="{% url 'material:eliminarMaterial' material.idmateriales %}" 
                   class="btn btn-danger">
                    Sí, eliminar
                </a>
            </div>

        </div>
    </div>
</div>
