<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        {{ form.fecha }}
        {{ form.fecha.errors }}
    </div>

    <div class="mb-3">
        <label for="hora" class="form-label">Hora</label>
        {{ form.hora }}
        {{ form.hora.errors }}
    </div>

    {% if user.groups.first.name == 'administrador' %}
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            {{ form.usuario }}
            {{ form.usuario.errors }}
        </div>
    {% endif %}

    <div class="mb-3">
        <label for="protocolo_experimental" class="form-label">
            Protocolo experimental
        </label>
        {{ form.protocolo_experimental }}
        {{ form.protocolo_experimental.errors }}
    </div>

    <div class="div-footer">
        <button type="submit" class="btnPrimario">Guardar</button>
        <a class="btnSecundario" href="{% url 'cita:indexCita' %}">
            Cancelar
        </a>
    </div>
</form>
