<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="fechaInicio" class="form-label">Fecha de inicio</label>
        {{ form.fechaInicio }}
        {{ form.fechaInicio.errors }}
    </div>

    <div class="mb-3">
        <label for="fechaFin" class="form-label">Fecha de fin</label>
        {{ form.fechaFin }}
        {{ form.fechaFin.errors }}
    </div>

    <div class="mb-3">
        <label for="sala_laboratorio" class="form-label">Sala de laboratorio</label>
        {{ form.sala_laboratorio }}
        {{ form.sala_laboratorio.errors }}
    </div>

    {% if user.groups.first.name == 'administrador' %}
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            {{ form.usuario }}
            {{ form.usuario.errors }}
        </div>
    {% endif %}

    <div class="mb-3">
        <label for="protocolo_experimental" class="form-label">
            Protocolo experimental
        </label>
        {{ form.protocolo_experimental }}
        {{ form.protocolo_experimental.errors }}
    </div>

    <div class="div-footer">
        <button type="submit" class="btnPrimario">Guardar</button>
        <a class="btnSecundario" href="{% url 'cita:indexCita' %}">
            Cancelar
        </a>
    </div>
</form>
