<form method="post" novalidate>
    {% csrf_token %}

    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        {{ form.fecha }}
        {{ form.fecha.errors }}
    </div>

    <div class="mb-3">
        <label for="horaInicio" class="form-label">Hora de inicio</label>
        {{ form.horaInicio }}
        {{ form.horaInicio.errors }}
    </div>

    <div class="mb-3">
        <label for="horaFin" class="form-label">Hora de fin</label>
        {{ form.horaFin }}
        {{ form.horaFin.errors }}
    </div>

    <div class="mb-3">
        <label for="sala_laboratorio" class="form-label">Sala de laboratorio</label>
        {{ form.sala_laboratorio }}
        {{ form.sala_laboratorio.errors }}
    </div>

    {% if user.groups.first.name == 'administrador' %}
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            {{ form.usuario }}
            {{ form.usuario.errors }}
        </div>
    {% endif %}

    <div class="mb-3">
        <label for="protocolo_experimental" class="form-label">
            Protocolo experimental
        </label>
        {{ form.protocolo_experimental }}
        {{ form.protocolo_experimental.errors }}
    </div>

    <div class="div-footer">
        <button type="submit" class="btnPrimario">Guardar</button>
        <a class="btnSecundario" href="{% url 'cita:indexCita' %}">
            Cancelar
        </a>
    </div>
</form>
