<table class="table tabla-primaria">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>ID</th>
            <th>Fecha</th>
            <th>Hora</th>
            {% if es_administrador %}
                <th>Usuario</th>
            {% endif %}
            <th>Protocolo experimental</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>
        {% if citas %}
            {% for cita in citas %}
                <tr>
                    <td>
                        <a class="btnIcono"
                           href="{% url 'cita:editarCita' cita.idcitas %}">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <button class="btnIcono"
                                data-bs-toggle="modal"
                                data-bs-target="#modalEliminarCita{{ cita.idcitas }}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>

                    <td>{{ cita.idcitas }}</td>
                    <td>{{ cita.fecha }}</td>
                    <td>{{ cita.hora }}</td>
                    {% if es_administrador %}
                        <td>{{ cita.usuario }}</td>
                    {% endif %}
                    <td>{{ cita.protocolo_experimental }}</td>

                    <td>
                        {% if cita.estado == 'Cancelada' or cita.estado == 'Finalizada' %}
                            {{ cita.estado }}   
                        {% else %}
                            {% if cita.ya_paso %}
                                <a class="btnPrimario" href="{% url 'cita:cambiarEstadoCita' cita.idcitas 'Finalizada' %}">Finalizar</a>
                            {% else %}
                                <a class="btnSecundario" href="{% url 'cita:cambiarEstadoCita' cita.idcitas 'Cancelada' %}">Cancelar</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>

                {% include 'cita/modalEliminar.html' %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">No existen registros</td>
            </tr>
        {% endif %}
    </tbody>
</table>
