<div class="modal fade"
     id="modalEliminarSesion{{ sesion.idsesionExperimental }}"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-primario">

            <div class="modal-header">
                <h5 class="modal-title">
                    Confirmar eliminación
                </h5>
                <button type="button"
                        class="btn-close btnCerrar"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                ¿Deseas eliminar la sesión del experimento
                <strong>{{ sesion.nombre_experimento }}</strong>?
            </div>

            <div class="modal-footer">
                <button class="btnSecundario" data-bs-dismiss="modal">
                    Cancelar
                </button>

                <button class="btn btn-danger" data-direccionUrl="{% url 'sesionExperimental:eliminarSesion' sesion.idsesionExperimental %}"> Si, eliminar </button>

            </div>

        </div>
    </div>
</div>
