<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- ESPECIE -->
    <div class="mb-3">
        <label class="form-label">{{form.especie.label}}</label>
        {{ form.especie }}
        {{ form.especie.errors }}
    </div>

    <!-- CANTIDAD -->
    <div class="mb-3">
        <label class="form-label">{{form.cantidad_animales.label}}</label>
        {{ form.cantidad_animales }}
        {{ form.cantidad_animales.errors }}
    </div>

    <!-- GENERO -->
    <div class="mb-3">
        <label class="form-label">{{form.genero.label}}</label>
        {{ form.genero }}
        {{ form.genero.errors }}
    </div>

    <!-- PESO INGRESO -->
    <div class="mb-3">
        <label class="form-label">{{form.peso_ingreso.label}} (g)</label>
        {{ form.peso_ingreso }}
        {{ form.peso_ingreso.errors }}
    </div>

    <!-- CONDICION EXPERIMENTAL -->
    <div class="mb-3">
        <label class="form-label">{{form.condicion_experimental.label}}</label>
        {{ form.condicion_experimental }}
        {{ form.condicion_experimental.errors }}
    </div>

    <!-- ESTADO -->
    <div class="mb-3">
        <label class="form-label">{{form.estado.label}}</label>
        {{ form.estado }}
        {{ form.estado.errors }}
    </div>

    <!-- CEPA -->
    <div class="mb-3">
        <label class="form-label">{{form.cepa.label}}</label>
        {{ form.cepa }}
        {{ form.cepa.errors }}
    </div>

    <!-- USUARIO -->
    <div class="mb-3">
        <label class="form-label">{{form.usuario.label}}</label>
        {{ form.usuario }}
        {{ form.usuario.errors }}
    </div>

    <!-- BOTONES -->
    <div class="div-footer">
        <button type="submit" class="btnPrimario">Guardar</button>
        <a class="btnSecundario" href="{% url 'lotesAnimales:indexLotes' %}" role="button">Cancelar</a>
    </div>

</form>
