{% extends 'base.html' %}

{% block titulo %} Reporte de actividad de usuario {% endblock %}
{% block encabezado %} Usuarios activos {% endblock %}

{% block contenido %}

<div class="fondo-borde-secundario">
    <div class="card seccion">
        <div class="card-header seccion-header">Reporte de actividad de usuario </div>
        <div class="card-body">
            <h4 class="card-title">Datos del usuario</h4>
            <form action="{% url 'sesionActiva:reporteActividadUsuario' %}" method="post">
                {% csrf_token %}
                <div class="row g-3 align-items-center">

                    <div class="col-auto">
                        <label for="usuario" class="col-form-label label-seccion">
                            Usuario:
                        </label>
                    </div>

                    <div class="col-auto">
                        <select name="usuario" id="usuario" class="form-select">
                            <option value="">Seleccione un usuario</option>
                            {% for user in usuarios %}
                                <option value="{{ user.user.username }}">{{ user.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-auto">
                        <label for="mesInicio" class="col-form-label label-seccion">
                            Mes de inicio:
                        </label>
                    </div>

                    <div class="col-auto">
                        <input type="month" name="mesInicio" id="mesInicio" class="form-control">
                    </div>

                     <div class="col-auto">
                        <label for="mesFin" class="col-form-label label-seccion">
                            Mes de fin:
                        </label>
                    </div>

                    <div class="col-auto">
                        <input type="month" name="mesFin" id="mesFin" class="form-control">
                    </div>
                </div>

                <button type="submit" class="btnPrimario mt-3">Generar reporte</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}