<form enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Matricula</label>
        <input
            type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Matricula"/>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input
            type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Juan Perez Hernandez"/>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Tipo de usuario</label>
        <select
            class="form-select form-select-lg" name="" id="">
            <option selected>Selecciona uno</option>
            <option value="administrador">Administrador</option>
            <option value="laboratorista">Laboratorista</option>
            <option value="investigador">Investigador</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Correo</label>
        <input
            type="email"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="correo@gmail.com"/>
    </div>

    
    
</form>