<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="nombre_sustancia" class="form-label">
            Nombre de la sustancia
        </label>
        {{ form.nombre_sustancia }}
        {{ form.nombre_sustancia.errors }}
    </div>

    <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        {{ form.tipo }}
        {{ form.tipo.errors }}
    </div>

    <div class="mb-3">
        <label for="consentracion" class="form-label">Concentración</label>
        {{ form.consentracion }}
        {{ form.consentracion.errors }}
    </div>

    <div class="mb-3">
        <label for="presentacion" class="form-label">Presentación</label>
        {{ form.presentacion }}
        {{ form.presentacion.errors }}
    </div>

    <div class="mb-3">
        <label for="unidad_medida" class="form-label">Unidad de medida</label>
        {{ form.unidad_medida }}
        {{ form.unidad_medida.errors }}
    </div>

    <div class="mb-3">
        <label for="proveedor" class="form-label">Proveedor</label>
        {{ form.proveedor }}
        {{ form.proveedor.errors }}
    </div>

    <div class="div-footer">
        <button type="submit" class="btnPrimario">Guardar</button>
        <a class="btnSecundario"
           href="{% url 'sustanciaExperimental:indexSustancia' %}">
            Cancelar
        </a>
    </div>
</form>
