{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% block titulo %}  {% endblock %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

        <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    </head>

    <body>
        <aside class="sidebar">
            <i class="bi bi-person-circle"></i>
            {% if user.is_authenticated %}
                <span>Hola {{ user.first_name }} ({{ user.username }})</span>
                
                <form action="{% url 'logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button class="btn btn-outline-light btn-sm" type="submit">
                    Cerrar sesión
                </button>
            </form>
            {% else %}
                <span>Invitado</span>
            {% endif %}
            <p><strong>Nombre:</strong><br>Kevin Joel Merino Castillo Arriaga</p>
        </aside>

        <div class="barraSuperior">
            <nav class="nav-primario">
                <div><a href="{% url 'core:interfazPrincipal' %}" class="btnIcono"><i class="bi bi-house-fill"></i></a><!-- ícono de home --> </div>
                <div class="notificaciones" id="contNotificacionesUsuario">
                    {% include 'layouts/contNotificaciones.html' %}
                </div>
                <div class="logo-text">UAEM</div>

            </nav>

            <header class="topbar-gradient">
                <h1 class="main-title">{% block encabezado %} {% endblock %}</h1>
            </header>
        </div>

        {% if messages %}
        <div class="alertas" style="position: fixed; top: 20px; right: 20px; z-index: 9999; font-size: 1.1rem;">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <main class="container">
            <div class="row">
                <div class="col">
                    {% block contenido %} {% endblock %}
                </div>
            </div>
        </main>
        
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>

        <script>
            const contNotificaciones = document.getElementById("contNotificacionesUsuario");

            fetch('/usuarios/obtener_notificaciones/')
            .then(respuesta => respuesta.json())
            .then(datos => {
                if(contNotificaciones) {
                    contNotificaciones.innerHTML = datos.contenedor; // Actualiza el contenido del contenedor con las notificaciones
                    contador = document.getElementById("contadorNotificaciones");
                    if(contador) {
                        contador.style.display = contador.dataset.numNotif > 0 ? "inline-block" : "none"; // Muestra u oculta el contador según el número de notificaciones no leídas
                    }
                }

            });
            setInterval(()=>{
                console.log("ya pasaron 60 seg...")
                if(contNotificaciones) {
                    estadoPanelNotificaciones = contNotificaciones.querySelector("#panelNotificaciones").classList.contains("abiertoPanelNotificaciones") ? "abiertoPanelNotificaciones" : "cerradoPanelNotificaciones";
                    estadoContenidoNotificacion = contNotificaciones.querySelectorAll(".contenidoNotificacion").length > 0 && contNotificaciones.querySelector(".contenidoNotificacion").classList.contains("abiertoContenidoNotificacion") ? "abiertoContenidoNotificacion" : "cerradoContenidoNotificacion";
                }
                fetch('/usuarios/obtener_notificaciones/')
                .then(respuesta => respuesta.json())
                .then(datos => {
                    console.log("estado panel notificacion", estadoPanelNotificaciones);
                    console.log("estado contenido notificación", estadoContenidoNotificacion);
                    if(contNotificaciones) {
                        contNotificaciones.innerHTML = datos.contenedor; // Actualiza el contenido del contenedor con las notificaciones
                        if(contNotificaciones.querySelector("#panelNotificaciones").classList.contains("abiertoPanelNotificaciones")){
                            console.log("Panel Abierto");
                            contNotificaciones.querySelector("#panelNotificaciones").classList.remove("abiertoPanelNotificaciones");
                            contNotificaciones.querySelector("#panelNotificaciones").classList.add(estadoPanelNotificaciones);
                        }else if(contNotificaciones.querySelector("#panelNotificaciones").classList.contains("cerradoPanelNotificaciones")){
                            contNotificaciones.querySelector("#panelNotificaciones").classList.remove("cerradoPanelNotificaciones");
                            contNotificaciones.querySelector("#panelNotificaciones").classList.add(estadoPanelNotificaciones);
                        }else{
                            contNotificaciones.querySelector("#panelNotificaciones").classList.add(estadoPanelNotificaciones);
                        }
                        
                        contador = document.getElementById("contadorNotificaciones");
                        if(contador) {
                            contador.style.display = contador.dataset.numNotif > 0 ? "inline-block" : "none"; // Muestra u oculta el contador según el número de notificaciones no leídas
                        }
                    }

                });
            }, 60000); // Actualiza cada 60 segundos

            document.addEventListener("click", (e) => {
                panel = document.getElementById("panelNotificaciones");
                contador = document.getElementById("contadorNotificaciones");
                if(e.target.id === "btnNotificaciones"){
                    if(panel.classList.contains("abiertoPanelNotificaciones")){
                        panel.classList.remove("abiertoPanelNotificaciones");
                        panel.classList.add("cerradoPanelNotificaciones");
                    } else {
                        panel.classList.remove("cerradoPanelNotificaciones");
                        panel.classList.add("abiertoPanelNotificaciones");
                    }
                }
            });

            // Cerrar si se hace click fuera
            document.addEventListener("click", (e) => {
                if (!(e.target.id === "btnNotificaciones") && !(e.target.closest("#panelNotificaciones"))) {
                    panel.style.display = "none";
                }

                contenedorNotif = e.target.closest(".notificacion");
                if(contenedorNotif){
                    contenidoNotif = contenedorNotif.querySelector(".contenidoNotificacion");
                    contador = document.getElementById("contadorNotificaciones");
                    notificacion_id = contenedorNotif.dataset.id;

                    if(contenidoNotif.classList.contains("cerradoContenidoNotificacion")){
                        contenidoNotif.classList.remove("cerradoContenidoNotificacion");
                        contenidoNotif.classList.add("abiertoContenidoNotificacion");

                        if(!contenedorNotif.dataset.leida){
                            fetch(`/usuarios/actualizar-estado-notificacion/${notificacion_id}/`)
                            .then(respuesta => respuesta.json())
                            .then(datos => {
                                if(datos.success){
                                    if(contador){ 
                                        console.log("Notificación marcada como leída, actualizando contador...");
                                        contador.textContent = datos.notificacionesNoLeidas; // Actualiza el contador con el nuevo número de notificaciones no leídas
                                        contenedorNotif.dataset.leida = "true"; // Marca la notificación como leída en el DOM para evitar futuras llamadas innecesarias
                                        if(datos.notificacionesNoLeidas === 0){
                                            contador.style.display = "none"; // Oculta el contador si no hay notificaciones no leídas
                                        }
                                    }
                                }

                            });
                        }
                    } else {
                        contenidoNotif.classList.remove("abiertoContenidoNotificacion");
                        contenidoNotif.classList.add("cerradoContenidoNotificacion");
                    }
                } else{
                    // Si se hizo click fuera de una notificación, ocultar el contenido de todas las notificaciones
                    document.querySelectorAll(".contenidoNotificacion").forEach(contenido => {
                        contenido.classList.remove("abiertoContenidoNotificacion");
                        contenido.classList.add("cerradoContenidoNotificacion");
                    });
                }
            });

            document.addEventListener("click", (e) => {
                if(e.target.id === "btnEliminarNotificacion"){
                    e.preventDefault();
                    url = e.target.href;
                    fetch(`/usuarios/eliminar-notificacion/${e.target.dataset.id}/`)
                    .then(respuesta => respuesta.json())
                    .then(datos => {
                        if(datos.success){
                            // Eliminar la notificación del DOM
                            notificacionEliminada = document.getElementById(`notificacion-${datos.idEliminada}`);
                            if(notificacionEliminada){
                                notificacionEliminada.remove();
                            }

                            // Actualizar el contador de notificaciones no leídas
                            contador = document.getElementById("contadorNotificaciones");
                            if(contador){
                                contador.textContent = datos.notificacionesNoLeidas;
                                if(datos.notificacionesNoLeidas === 0){
                                    contador.style.display = "none";
                                }
                            }
                        }
                    });
                }
            });
        </script>
        <script src="{% static 'usuario/js/usuarios.js' %}"></script>
        
    </body>
</html>
