{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% block titulo %}  {% endblock %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

        <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    </head>

    <body>

        <!-- <nav class="">
            <div class="row nav-datosUsuario">
                <div class="col-4">

                </div>

                <div class="nav navbar-nav">
                    <a class="nav-item nav-link active" href="#" aria-current="page">
                        Principal <span class="visually-hidden">(current)</span>
                    </a>
                    <a class="nav-item nav-link" href="#">jaja</a>
                </div>
            </div>
        </nav> -->
        <aside class="sidebar">
            <i class="bi bi-person-circle"></i>
            {% if user.is_authenticated %}
                <span>Hola {{ user.first_name }} ({{ user.username }})</span>
                
                <form action="{% url 'logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button class="btn btn-outline-light btn-sm" type="submit">
                    Cerrar sesión
                </button>
            </form>
            {% else %}
                <span>Invitado</span>
            {% endif %}
            <p><strong>Nombre:</strong><br>Kevin Joel Merino Castillo Arriaga</p>
        </aside>

        <div class="barraSuperior">
            <nav class="nav-primario">
                <div><i class="bi bi-house-fill"></i> <!-- ícono de home --> </div>
                <div class="logo-text">UAEM</div>
                <div></div> <!-- Espacio a la derecha -->

            </nav>

            <header class="topbar-gradient">
                <h1 class="main-title">{% block encabezado %} {% endblock %}</h1>
            </header>
        </div>

        {% if messages %}
        <div class="alertas" style="position: fixed; top: 20px; right: 20px; z-index: 9999; font-size: 1.1rem;">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <main class="container">
            <div class="row">
                <div class="col">
                    {% block contenido %} {% endblock %}
                </div>
            </div>
        </main>
        
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script src="{% static 'usuario/js/usuarios.js' %}"></script>
        
    </body>
</html>
